// Mixins Here


.custom-btn(@width: 200px, @padding: 5%) {
    background-color: @btn-bg-color;
    border-radius: 10px;
    width: @width;
    padding: @padding;
    font-size: 1.8rem;
    text-align: center;
    color: white;


&:hover {
    background-color:skyblue;
    color: @btn-bg-color;
    }
}

.center() {
    display: flex;
    justify-content: center;
    align-items: center;
  }
